.App {
  text-align: center;
}

.section {
  position: relative;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.title {
  color: white;
  font-size: 50px;
  font-weight: bold;
}

.countdown {
  color: white;
  display: flex;
}

.time-container {
  margin: 0 10px;
}

.time-value {
  font-size: 30px;
  font-weight: bold;
}

.payments-center {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  width: 100%;
}

.goal-title {
  font-size: 40px;
  color: white;
  font-weight: bold;
}

.goal-subtitle {
  color: white;
  font-size: 18px;
  margin-bottom: 15px;
  max-width: 450px;
  word-wrap: break-word;
}

.payments-title {
  font-weight: bold;
  color: white;
  font-size: 20px;
  margin-bottom: 10px;
}

.payments {
  display: flex;
  text-align: left;
  flex-direction: column;
  color: white;
  justify-content: center;
}

.payment {
  margin-bottom: 10px;
  display: flex;
  flex-direction: row;
}

.payment-info {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
}

.goal {
  display: flex;
  flex-direction: row;
  padding: 25px;
  min-height: 100vh;
  box-sizing: border-box;
}

.goal-total {
  color: white;
  font-weight: bold;
  font-size: 30px;
}

.progress-bar {
  position: relative;
  background-color: white;
  border-radius: 20px;
  width: 40px;
  height: 100%;
  margin-right: 20px;
}

.progress-bar-inner {
  background-color: #34ca96;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  width: 40px;
  position: absolute;
  bottom: 0;
  left: 0;
}

.marks {
  position: relative;
}

.goal-mark {
  position: absolute;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.goal-icon {
  width: 50px;
  height: 50px;
  margin-right: 10px;
}

.goal-mark-title {
  font-size: 20px;
  text-align: left;
}

.goal-amount {
  font-size: 15px;
  font-weight: bold;
}

.page-btn {
  background: transparent;
  border: none;
  color: white;
  font-weight: bold;
  font-size: 18px;
}

.btn-bar {

}

.bottles-des {
  text-align: left;
  padding: 20px;
}

.handle-title {
  font-size: 25px;
  color: white;
  font-weight: bold;
  margin-bottom: 5px;
}

.handle-subtitle {
  color: white;
  margin-bottom: 10px;
}